<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397036819282-dfcc9lkconvm8no9l36o6sb69p01nt01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397036819282-dfcc9lkconvm8no9l36o6sb69p01nt01</string>
	<key>API_KEY</key>
	<string>AIzaSyAdwZVDiTGcbDiArXiNSObRmYGx6hjYwk0</string>
	<key>GCM_SENDER_ID</key>
	<string>397036819282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookTracker</string>
	<key>PROJECT_ID</key>
	<string>book-tracker-1c3e5</string>
	<key>STORAGE_BUCKET</key>
	<string>book-tracker-1c3e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397036819282:ios:1240cc9d8c24e65726e08b</string>
</dict>
</plist>